input:not([type="submit"]),
textarea {
  border: none;
  background: none;
  border-bottom: 1px solid var(--black);
  transition: border 0.2s ease-out;

  &:focus {
    border-bottom: 1px solid var(--red);
    outline: none;
  }
}

button,
input[type="submit"] {
  background: none;
  cursor: pointer;
  border: 1px solid var(--black);
  text-transform: uppercase;
  padding: var(--size-xsmall);
  transition: color .1s ease-out, border .1s ease-out;

  &:hover,
  &:focus {
    border: 1px solid var(--red);
    color: var(--red);
  }
}

a[href] {
  transition: color 0.1s ease-out;
  color: var(--black);

  &:hover,
  &:focus {
    color: var(--red);
  }
}

form .input {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    font-size: 12px;
  }
}
