@import url("./styles/reset.css");
@import url("./styles/sizing.css");
@import url("./styles/colours.css");
@import url("./styles/form.css");

@font-face {
    font-family: InstrumentSerif;
    src: url("~/public/InstrumentSerif-Regular.otf");
}

html {
  color: var(--black);
}

body {
  background-color: antiquewhite;
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-content: space-between;
}
h1,
h2,
h3 {
  font-family: InstrumentSerif, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  display: flex;

  &.gap-small {
    gap: var(--size-small);
  }

  &.gap-medium {
    gap: var(--size-medium);
  }

  &.centered {
    justify-content: center;
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }
}

#intro {
  align-items: flex-start;
  margin: 0 auto;
  width: auto;
  min-width: 50%;

  h1 {
    font-size: 3em;
    color: var(--red);
  }

  h3 {
    font-size: 1.66em;
    color: var(--black);
    font-weight: lighter;
  }
}

.squiggly {
  min-width: 600px;
  width: 100%;
  max-height: 50px;
  overflow: hidden;
  .teal {
    animation: squiggle 90s ease-in-out infinite alternate;
  }
  .pink {
    animation: squiggle 90s ease-in-out infinite alternate-reverse;
  }
}

@keyframes squiggle {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(100px);
  }
}
