/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/ui/styles/reset.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/ui/styles/sizing.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
:root{
    --size-xsmall: 0.5rem;
    --size-small: 1rem;
    --size-medium: 1.5rem;
    --size-large: 2rem;
    --size-xlarge: 3rem;
    --size-xxlarge: 4rem;
}


.p-small {
  padding: var(--size-small);
}

.p-medium {
  padding: var(--size-medium);
}

.p-large {
  padding: var(--size-large);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/ui/styles/colours.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
:root {
  --teal: #6ee8db;
  --pink: #e6b1e9;
  --blue: #4584de;
  --red: #e64b4b;
  --black: #111111;
  --white: #ffffff;
  --gray: #f5f5f5;
}

/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/ui/styles/form.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
input:not([type="submit"]),
textarea {
  border: none;
  background: none;
  border-bottom: 1px solid var(--black);
  transition: border 0.2s ease-out;

  &:focus {
    border-bottom: 1px solid var(--red);
    outline: none;
  }
}

button,
input[type="submit"] {
  background: none;
  cursor: pointer;
  border: 1px solid var(--black);
  text-transform: uppercase;
  padding: var(--size-xsmall);
  transition: color .1s ease-out, border .1s ease-out;

  &:hover,
  &:focus {
    border: 1px solid var(--red);
    color: var(--red);
  }
}

a[href] {
  transition: color 0.1s ease-out;
  color: var(--black);

  &:hover,
  &:focus {
    color: var(--red);
  }
}

form .input {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    font-size: 12px;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/ui/main.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
@font-face {
    font-family: InstrumentSerif;
    src: url(/public/InstrumentSerif-Regular.otf);
}

html {
  color: var(--black);
}

body {
  background-color: antiquewhite;
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-content: space-between;
}
h1,
h2,
h3 {
  font-family: InstrumentSerif, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  display: flex;

  &.gap-small {
    gap: var(--size-small);
  }

  &.gap-medium {
    gap: var(--size-medium);
  }

  &.centered {
    justify-content: center;
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }
}

#intro {
  align-items: flex-start;
  margin: 0 auto;
  width: auto;
  min-width: 50%;

  h1 {
    font-size: 3em;
    color: var(--red);
  }

  h3 {
    font-size: 1.66em;
    color: var(--black);
    font-weight: lighter;
  }
}

.squiggly {
  min-width: 600px;
  width: 100%;
  max-height: 50px;
  overflow: hidden;
  .teal {
    animation: squiggle 90s ease-in-out infinite alternate;
  }
  .pink {
    animation: squiggle 90s ease-in-out infinite alternate-reverse;
  }
}

@keyframes squiggle {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(100px);
  }
}

